<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GabrielMJr.Twaire.AllEasy">

    <!--Request uninstall packages, used to uninstall this app and continue with new version-->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Settings-->
        <activity
            android:name=".app.Settings"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Math-->
        <activity
            android:name=".math.Fatorial"
            android:label="@string/fat">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.Arranjos"
            android:label="@string/arrj">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.Combination"
            android:label="@string/comb">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.FSG"
            android:label="@string/fsg">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Physic-->
        <activity
            android:name=".physic.vaz.FluidFlow_ActivityMain"
            android:label="@string/vaz">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.FlowRate1"
            android:label="@string/vazo">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.FlowRate2"
            android:label="@string/vazo">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.FlowRate3"
            android:label="@string/vazo">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Time1"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Volume1"
            android:label="@string/volume">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHERr"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Speed1"
            android:label="@string/velocity">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Speed2"
            android:label="@string/velocity">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Area1"
            android:label="@string/area">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Ray1"
            android:label="@string/raio">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.Kinematic_ActivityMain"
            android:label="@string/kinematic">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Displacement1"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Displacement2"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Displacement3"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Initial_Displacement"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Final_Displacement"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Displacement_Law"
            android:label="@string/displacement">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Speed1"
            android:label="@string/velocity">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Speed2"
            android:label="@string/velocity">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Time1"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Time2"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Time3"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Initial_Time"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.MRU_Final_Time"
            android:label="@string/time">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
