<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GabrielMJr.Twaire.AllEasy"
    android:versionName="1.2.3-Beta_4">
    
    <!--Used to ckech online updates-->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Settings-->
        <activity
            android:name=".app.Settings"
            android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".app.SendMailActivity"
            android:label="@string/contact">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".app.About"
            android:label="@string/about">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Math-->
        <activity
            android:name=".math.Fatorial"
            android:label="@string/fatS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.Arranjos"
            android:label="@string/arrjS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.Combination"
            android:label="@string/combS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".math.FSG"
            android:label="@string/fsgS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Physic-->
        <activity
            android:name=".physic.vaz.FluidFlow_ActivityMain"
            android:label="@string/vazS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Fluid flow-->
        <activity
            android:name=".physic.vaz.FlowRate1"
            android:label="@string/vazoS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.FlowRate2"
            android:label="@string/vazoS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.FlowRate3"
            android:label="@string/vazoS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Time1"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Volume1"
            android:label="@string/volumeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHERr"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Speed1"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Speed2"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Area1"
            android:label="@string/areaS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.vaz.Ray1"
            android:label="@string/raioS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <!--Kinematic-->
        <activity
            android:name=".physic.kinematic.Kinematic_ActivityMain"
            android:label="@string/kinematicS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <!--MRU-->
        <activity
            android:name=".physic.kinematic.mru.MRU_Displacement1"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Displacement2"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Displacement3"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Initial_Displacement"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Final_Displacement"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Displacement_Law"
            android:label="@string/displacementS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Speed1"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Speed2"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Time1"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Time2"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Time3"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Initial_Time"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.mru.MRU_Final_Time"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>



        <!--MUV-->
        <activity
            android:name=".physic.kinematic.muv.MUV_Acceleration1"
            android:label="@string/accelerationS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.muv.MUV_Acceleration2"
            android:label="@string/accelerationS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.muv.MUV_Acceleration3"
            android:label="@string/accelerationS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".physic.kinematic.muv.MUV_Acceleration4"
            android:label="@string/accelerationS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name=".physic.kinematic.muv.MUV_Speed1"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name=".physic.kinematic.muv.MUV_Speed2"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name=".physic.kinematic.muv.MUV_Speed3"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name=".physic.kinematic.muv.MUV_Speed4"
            android:label="@string/velocityS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time1"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time2"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time3"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time4"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time5"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
        
        <activity
            android:name="physic.kinematic.muv.MUV_Time6"
            android:label="@string/timeS">

            <intent-filter>

                <action android:name="android.intent.action.PARENT"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>
 

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
