<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GabrielMJr.Twaire.AllEasy"
    android:versionName="1.2.3-Beta_4">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Settings"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SendMailActivity"
            android:label="@string/contact">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.About"
            android:label="@string/about">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<activity
            android:name=".activity.math.combinatorial_analysis.CombinatorialAnalysisActivityMain"
            android:label="@string/factorial">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.math.combinatorial_analysis.Fatorial"
            android:label="@string/factorial">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.math.combinatorial_analysis.Arranjos"
            android:label="@string/arranjments">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.math.combinatorial_analysis.Combination"
            android:label="@string/combination">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<activity
            android:name=".activity.math.function.FunctionActivityMain"
            android:label="@string/second_degree_function">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.math.function.FSG"
            android:label="@string/second_degree_function">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--<activity
            android:name=".activity.physic.vaz.FluidFlow_ActivityMain"
            android:label="@string/fluid_flow">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.FlowRate1"
            android:label="@string/flow_rate">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.FlowRate2"
            android:label="@string/flow_rate">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.FlowRate3"
            android:label="@string/flow_rate">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.Time1"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
        <activity
            android:name=".activity.physic.vaz.Volume1"
            android:label="@string/volume">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHERr"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.Speed1"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.Speed2"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.Area1"
            android:label="@string/area">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.vaz.Ray1"
            android:label="@string/ray">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.Kinematic_ActivityMain"
            android:label="@string/kinematic">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Displacement1"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Displacement2"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Displacement3"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Initial_Displacement"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Final_Displacement"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Displacement_Law"
            android:label="@string/displacement">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Speed1"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Speed2"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Time1"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Time2"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Time3"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Initial_Time"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.mru.MRU_Final_Time"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Acceleration1"
            android:label="@string/acceleration">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Acceleration2"
            android:label="@string/acceleration">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Acceleration3"
            android:label="@string/acceleration">

            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Acceleration4"
            android:label="@string/acceleration">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Speed1"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Speed2"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Speed3"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.physic.kinematic.muv.MUV_Speed4"
            android:label="@string/velocity">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time1"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time2"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time3"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time4"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time5"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="physic.kinematic.muv.MUV_Time6"
            android:label="@string/time">
            <intent-filter>
                <action android:name="android.intent.action.PARENT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>-->

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
